extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      //- this is the heading in the landing page
      //- text is divided into multiple span for syntax highlighting
      h1#intro
        span.white console.log
        span.paren (
        span.string `Hey, it's me Mia...`
        span.paren )
        span.white ;
        span.last
 
      p.lead.text-light
        | Hi there! My name is Aemilia but people call me Mia (mee-yuh) and I'm an embedded software engineer aspiring to be a full stack web developer. This page is dedicated to showcase the projects I have done in the past. In case my skills fit what you're looking for, or you'd like to chat further, you can contact me through my socials. Be hearing from you! :)
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-1.medium-up-2.large-up-3
      each project in projects
        .cell
          a(href='/project/' + project.id)
            img.thumbnail(src=project.thumbnail)
            h5 #{project.project_name}
      
