extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      //- Add a title or heading like My Portfolio, or Hey, Potential Employers, or Let's make the web great together! 
      h1 console.log(`welcome to my portfolio page`);

      //- Add a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
      p.lead.text-light
        | Hi there! My name is Mia (mee-yuh) and I'm an embedded software engineer aspiring to be a full stack web developer. This page is dedicated to showcase the projects I have done in the past. In case my skills fit what you're looking for, or you'd like to chat further, you can contact me through these links   
        span.socials
          a(href=details.linkedin, target='_blank')
            i.fa-brands.fa-linkedin
          a(href=details.github, target='_blank')
            i.fa-brands.fa-github
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- Use the Pug `each` iterator to create a project img, title and link in the markup for each of the projects you are showcasing.  
      
      //- Use a combination of interpolation and template literals as needed to dynamically generate the the routes in the href, as well as the img's src and the projects title.
      
      //- Here's what the Pug for each project example should look like. 
      each project in projects
        .cell
          a(href='/project/' + project.id)
            img.thumbnail(src=project.thumbnail)
            h5 #{project.project_name}
      
