
h1,h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: #666;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #666;
}

.button{
  background-color: #333;
}

.button:hover{
  background-color: #111;
}

a{
  color: #333;
}

a:hover{
  color: #111;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: #121213;
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #999;
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #555;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #999;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: #444;
}

.portfolio-bio{
    line-height: 25px;
}

.socials > *, .ext_link > *{
  background-color: #c0c0c0;
  padding: 3px 5px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: x-large;
  color: black;
}

.socials > *:hover, .ext_link > *:hover{
  background-color: rgb(17, 34, 34);
  color: #c0c0c0;
}

.logo{
  list-style-type: none;
  display: inline-flex;
  background-color: #c0c0c0;
  padding: 0px 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.skillnames {
  list-style-type: none;
  display: inline-flex;
}

.skillnames:not(:last-of-type)::after {
  padding: 0px 5px;
  content: " â— ";
  font-weight: bold;
}


.grid-x > .cell:nth-child(1){
  margin-bottom: 20px;
}